.card-grid{
    border: 1em;
    border-color: black;
    box-shadow: 1em
}

.file-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9rem;
    padding-top: 10px;
    text-align: center;
    color: rgba(22, 21, 21, 0.91)
    
}
.file-name:hover{
    cursor: pointer

}

.card-background{
    padding-top: 1em;
    background-color: #dfe5e8
}
.file-name:visited{
    background-color:#a978d6
}
.card-icon{
    text-align: center;
}
.card-spacing{
    padding-top: 1em;
}
